    <!DOCTYPE HTML>
<html>

<head>
    {% load i18n %}
    {% load static %}
    <link type="text/css" rel='stylesheet' href="{% static 'restaurant/build/css/my_scss.css' %}"/>
</head>

<body background="{% static 'images/success.jpg' %}">
<section class="container">
    <h1>
        <span class="title">Your Account</span>
        <span class="title">has been verified</span>
        <span class="title">Welcome!</span>
    </h1>
    <div class="button">Login!</div>
</section>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.min.js"></script>

<script>
    $(document).ready(function () {
        $(".title").lettering();
        $(".button").lettering();
    });

    $(document).ready(function () {
        animation();
    }, 1000);

    $('.button').click(function () {
        location.href = "{% url 'login' %}";
    });

    function animation() {
        var title1 = new TimelineMax();
        title1.to(".button", 0, {visibility: 'hidden', opacity: 0})
        title1.staggerFromTo(".title span", 0.5,
            {ease: Back.easeOut.config(1.7), opacity: 0, bottom: -80},
            {ease: Back.easeOut.config(1.7), opacity: 1, bottom: 0}, 0.05);
        title1.to(".button", 0.2, {visibility: 'visible', opacity: 1})
    }
</script>

</html>
